
    .stepper {
      display: flex;
      justify-content: space-around;
      /* margin-bottom: 6px; */
      border-bottom: 1px solid #dee2e6;
      overflow-x: auto;
      scroll-behavior: smooth;
    }

    /* Chrome, Edge, Safari */
    .stepper::-webkit-scrollbar {
      height: 0;
    }

    .stepper::-webkit-scrollbar-track {
      background: transparent;
    }

    .stepper::-webkit-scrollbar-thumb {
      background: rgb(175, 174, 175);
      border-radius: 10px;
    }

    /* Hide scrollbar arrows (start/end buttons) */
    .stepper::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0;
    }

    .stepper::-webkit-scrollbar-thumb:hover {
      background: rgb(145, 144, 145);
    }



    .stepper .stepp {
      padding: 10px 25px;
      cursor: pointer;
      position: relative;
      font-weight: 500;
      color: #6c757d;
      transition: color 0.3s ease;
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;
    }

    .stepp.active {
      color: rgb(168, 108, 168);
      border-bottom: 3px solid rgb(168, 108, 168);
    }

    .color-main {
      color: rgb(168, 108, 168);
    }

    .stepp i {
      font-size: 16px;
    }

    .stepContentt {
      padding: 16px;
      /* padding: 30px;
      border-radius: 8px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); */
    }

    textarea {
      resize: none;
    }

    .btnNextt,
    .btnPrevv {
      min-width: 120px;
      text-transform: uppercase;
    }

    .btnNextt {
      background-color: rgb(168, 108, 168);
      border-color: rgb(168, 108, 168);
    }

    .btnNextt:hover {
      background-color: rgb(168, 108, 168);
      border-color: rgb(168, 108, 168);
    }

    .btnNextt:focus {
      background-color: rgb(168, 108, 168);
      border-color: rgb(168, 108, 168);
    }

    .btnNextt,
    .btnNextt:hover,
    .btnNextt:focus,
    .btnNextt.active,
    .btnNextt.show,
    .btn-check:checked+.btnNextt,
    .btnNextt:active {
      background-color: rgb(168, 108, 168) !important;
      border-color: rgb(168, 108, 168) !important;
      color: white;
    }

    .btnPrevv {
      color: rgb(168, 108, 168);
      border: 2px solid rgb(168, 108, 168);
      background: transparent !important;
    }

    .btnPrevv:hover {
      color: white !important;
      border: 2px solid rgb(168, 108, 168) !important;
      background: rgb(168, 108, 168) !important;
    }



    .btnPrevv,
    .btnPrevv:focus,
    .btnPrevv.active,
    .btnPrevv.show,
    .btn-check:checked+.btnPrevv,
    .btnPrevv:active {
      color: rgb(168, 108, 168) !important;
      border: 2px solid rgb(168, 108, 168) !important;
    }


    /* .btn i {
      margin-right: 6px;
    } */

    .bg-gray {
      background-color: #f3f4f5;
      font-weight: 600;
    }

    .suggestionBtn {
      background-color: rgb(82, 133, 82);
      color: white;
      border: none;
      border-radius: 6px;
      padding: 4px 8px;
      font-size: 12px;
    }


    .border-bottom {
      border-bottom: 2px solid black;
      padding-bottom: 10px;
    }

    .astrk {
      font-size: 18px;
    }

    .mainBtnOutline {
      color: rgb(168, 108, 168);
      border: 2px solid rgb(168, 108, 168);
      padding: 6px 16px;
      background: transparent;
      font-weight: 600;
      border-radius: 6px;
      text-transform: uppercase;
      font-size: 12px !important;
    }

    .mainBtnOutline:hover {
      border: 2px solid rgb(168, 108, 168);
      background: rgb(168, 108, 168);
      color: white;
    }

    .exitBtnOutline {
      color: red;
      border: 2px solid red;
      padding: 6px 16px;
      font-weight: 600;
      background: transparent;
      border-radius: 6px;
      text-transform: uppercase;
      font-size: 12px !important;

    }

    .exitBtnOutline:hover {
      border: 2px solid red;
      background: red;
      color: white;
    }

    .previewBtn {
      text-transform: uppercase;
      background-color: darkblue;
      border-color: darkblue;
      font-size: 14px;
      color: white;
      padding: 8px 12px;
      white-space: nowrap;
    }

    .previewBtn:hover {
      background-color: darkblue;
      border-color: darkblue;
      color: white;
    }


    .form-check-input:checked {
      background-color: darkblue !important;
      border-color: darkblue !important;
    }

    .form-select:focus {
      border-color: darkblue !important;
      outline: 0 !important;
      box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
    }

    input:focus {
      border-color: darkblue !important;
      outline: 0 !important;
      box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
    }

    textarea:focus {
      border-color: darkblue !important;
      outline: 0 !important;
      box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
    }

    .rdo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }

    .termsheading {
      font-size: 18px;
    }

    .popover {
      max-width: 400px;
      /* keep it readable */
      font-size: 0.875rem;
    }

    .popover-header {
      color: #000;
      font-weight: 600;
      background-color: rgba(186, 255, 255, 0.438);
    }

    .popover-body {
      color: #495057;
      background-color: rgba(186, 255, 255, 0.438);
    }
     /* Chrome, Edge, Safari */
    .stepContentt::-webkit-scrollbar {
      width: 0;
    }

    .stepContentt::-webkit-scrollbar-track {
      background: transparent;
    }

    .stepContentt::-webkit-scrollbar-thumb {
      background: rgb(175, 174, 175);
      border-radius: 10px;
    }

    /* Hide scrollbar arrows (start/end buttons) */
    .stepContentt::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0;
    }

    .stepContentt::-webkit-scrollbar-thumb:hover {
      background: rgb(145, 144, 145);
    }
    .modalDialog.modal-full-width {
        border-radius: 6px;
      max-width: 90vw;
      width: 90vw;
      margin: 0 auto;
    }

    .modalContentForm {
   border-radius: 6px;
      height: 100%;
    }

    .stepContentt {
      max-height: 70vh !important;
      height: 65vh !important;
      overflow-y: auto !important;
    }
    