
.stepperForm{

    .stepper {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
      border-bottom: 1px solid #dee2e6;
    }

    .stepper .step {
      padding: 10px 25px;
      cursor: pointer;
      position: relative;
      font-weight: 500;
      color: #6c757d;
      transition: color 0.3s ease;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .step.active {
      color: rgb(168, 108, 168);
      border-bottom: 3px solid rgb(168, 108, 168);
    }

    .color-main {
      color: rgb(168, 108, 168);
    }

    .step i {
      font-size: 16px;
    }

    .step-content {
      padding: 16px;
      /* padding: 30px;
      border-radius: 8px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); */
    }

    textarea {
      resize: none;
    }

    .btn-next,
    .btn-prev {
      min-width: 120px;
    }

    .btn-next {
      background-color: rgb(168, 108, 168);
      border-color: rgb(168, 108, 168);
    }

    .btn-next:hover {
      background-color: rgb(168, 108, 168);
      border-color: rgb(168, 108, 168);
    }

    .btn-next:focus {
      background-color: rgb(168, 108, 168);
      border-color: rgb(168, 108, 168);
    }

    .btn-next,
    .btn-next:hover,
    .btn-next:focus,
    .btn-next.active,
    .btn-next.show,
    .btn-check:checked+.btn-next,
    .btn-next:active {
      background-color: rgb(168, 108, 168) !important;
      border-color: rgb(168, 108, 168) !important;
      color: white;
    }

    .btn i {
      margin-right: 6px;
    }

    .bg-gray {
      background-color: #f3f4f5;
      font-weight: 600;
    }

    .suggestionBtn {
      background-color: rgb(82, 133, 82);
      color: white;
      border: none;
      border-radius: 6px;
      padding: 4px 8px;
      font-size: 12px;
    }


    .border-bottom {
      border-bottom: 2px solid black;
      padding-bottom: 10px;
    }

    .astrk {
      font-size: 18px;
    }

    .mainBtnOutline {
      color: rgb(168, 108, 168);
      border: 2px solid rgb(168, 108, 168);
      padding: 6px 16px;
      background: transparent;
      border-radius: 6px;
      text-transform: uppercase;
      font-size: 12px !important;
    }

    .mainBtnOutline:hover {
      border: 2px solid rgb(168, 108, 168);
      background: rgb(168, 108, 168);
      color: white;
    }

    .exitBtnOutline {
      color: red;
      border: 2px solid red;
      padding: 6px 16px;
      background: transparent;
      border-radius: 6px;
      text-transform: uppercase;
      font-size: 12px !important;

    }

    .exitBtnOutline:hover {
      border: 2px solid red;
      background: red;
      color: white;
    }

    .previewBtn {
      text-transform: uppercase;
      background-color: darkblue;
      border-color: darkblue;
      font-size: 14px;
      color: white;
      padding: 8px 12px;
      white-space: nowrap;
    }

    .previewBtn:hover {
      background-color: darkblue;
      border-color: darkblue;
      color: white;
    }

    .popover {
      max-width: 400px;
      /* keep it readable */
      font-size: 0.875rem;
    }

    .popover-header {
      color: #000;
      font-weight: 600;
      background-color: rgba(186, 255, 255, 0.438);
    }

    .popover-body {
      color: #495057;
      background-color: rgba(186, 255, 255, 0.438);
    }

    input,
    textarea,
    select {
      font-size: 14px !important;
    }

    .form-check-input:checked {
      background-color: darkblue !important;
      border-color: darkblue !important;
    }

    .form-select:focus {
      border-color: darkblue !important;
      outline: 0 !important;
      box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
    }

    input:focus {
      border-color: darkblue !important;
      outline: 0 !important;
      box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
    }

    textarea:focus {
      border-color: darkblue !important;
      outline: 0 !important;
      box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
    }

    .rdo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
}